body {
    background-color: rgb(233, 223, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: rgb(44, 44, 44);
}

h1 {
    color: rgb(83, 49, 156);
}

.container {
    background-color: #fff;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.3rem;   
    padding: 0 2rem 2rem 2rem;
    position: relative;
}


.tabs {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(200, 175, 255);
    padding: 1rem;
}

.tabs p {
    padding: 0.5rem;
}

.tabs p:hover {
    color: rgb(83, 49, 156);
    cursor: pointer;
}

.tabs p.active {
    color: rgb(83, 49, 156);
}

.line {
    height: 3px;
    background-color: rgb(231, 231, 231);
    width: 100%;
    top: 6.1rem;
    position: absolute;
}


















